*.log
.current_coin
.current_coin_table
.cache
*.pyc
__pycache__
__pypackages__/
nohup.out
.idea/
.vscode/
.replit
venv/
env/
.env
crypto_trading.db
supported_coin_list.backup
user.cfg.backup
.DS_Store